# Machine Learning Zoomcamp

## Homework 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Q1. Pandas version 

What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.2.3'

In [3]:
# Getting the data
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv" 
df = pd.read_csv(url) 

print(df.head())

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

### Q2. Records count

How many records are in the dataset?

In [4]:
df.info()  # the answer is : 9704

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### Q3. Fuel types

How many fuel types are presented in the dataset?

In [5]:
df['fuel_type'].unique() # Answer: 2

array(['Gasoline', 'Diesel'], dtype=object)

### Q4. Missing values

How many columns in the dataset have missing values?

In [6]:
df.isnull().sum()  # Anser: 4

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [7]:
df['fuel_efficiency_mpg'].where(df['origin'] == 'Asia').max() # Answer : 23.75

23.759122836520497

### Q6. Median value of horsepower

   1. Find the median value of horsepower column in the dataset.
   2.  Next, calculate the most frequent value of the same horsepower column.
   3. Use fillna method to fill the missing values in horsepower column wit the most frequent value from the previous step.
   4.  Now, calculate the median value of horsepower once again.

In [8]:
print(df['horsepower'].median()) # 149.0

# Find the most frequent value
most_freq_hp = df['horsepower'].value_counts().idxmax() # 152.0 

# Fill NaN values with it
df['horsepower'] = df['horsepower'].fillna(most_freq_hp)

print(df['horsepower'].median()) # 152.0

149.0
152.0

### Q7. Sum of weights

1. Select all the cars from Asia.
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [9]:
df_asia = df[df['origin'] == 'Asia'] 

df_asia_sel = df_asia[['vehicle_weight', 'model_year']] 

df_asia_sel7 = df_asia_sel.head(7) 

X = df_asia_sel7.to_numpy()

XTX = X.T @ X 

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200]) 

w = XTX_inv @ X.T @ y 

print(w.sum())

0.5187709081074016

### Thanks