# Machine Learning Zoomcamp

# Homework 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv'
df = pd.read_csv(url)

df.head(5)

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [3]:
# Show the information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1334 non-null   object
 1   industry                  1328 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1281 non-null   float64
 4   employment_status         1362 non-null   object
 5   location                  1399 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

## Data preperation

In [4]:
# check for missing values
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [5]:
# Replace categorical feature with 'NA'
categorical_features = [
    'lead_source',
    'industry',
    'employment_status',
    'location'
]

for feature in categorical_features:
    df[feature] = df[feature].fillna('NA')

In [6]:
# Replace numerical feature with 0.0
numerical_features = [
    'annual_income'
]

for feature in numerical_features:
    df[feature] = df[feature].fillna(0.0)

## Question 1

What is the most frequent observation (mode) for the column industry?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1462 non-null   object
 1   industry                  1462 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1462 non-null   float64
 4   employment_status         1462 non-null   object
 5   location                  1462 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

In [8]:
df['industry'].value_counts()

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64

In [9]:
# Show the most frequent observation (mode) for the column industry
df['industry'].mode()

0    retail
Name: industry, dtype: object

In [10]:
# Answer is retail

##  Question 2

Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

    * interaction_count and lead_score
    * number_of_courses_viewed and lead_score
    * number_of_courses_viewed and interaction_count
    * annual_income and interaction_count

In [11]:
numerical_features = [
    'number_of_courses_viewed',
    'annual_income',
    'interaction_count',
    'lead_score',
    'converted'
]

### 2.1 correlation for interaction_count and lead_score

In [12]:
corr_interaction_count_lead_score = df['interaction_count'].corr(df['lead_score'])

print(f"Correlation between interaction_count and lead_score: {corr_interaction_count_lead_score}")

Correlation between interaction_count and lead_score: 0.009888182496913077

### 2.2 Correlation for number_of_courses_viewed and lead_score

In [13]:
corr_number_of_courses_viewed_lead_score = df['number_of_courses_viewed'].corr(df['lead_score'])
print(f"Correlation between number_of_courses_viewed and lead_score: {corr_number_of_courses_viewed_lead_score}")

Correlation between number_of_courses_viewed and lead_score: -0.00487899835468127

### 2.3 Correlation for number_of_courses_viewed and interaction_count

In [14]:
corr_number_of_courses_viewed_interaction_count = df['number_of_courses_viewed'].corr(df['interaction_count'])
print(f"Correlation between number_of_courses_viewed and interaction_count: {corr_number_of_courses_viewed_interaction_count}")

Correlation between number_of_courses_viewed and interaction_count: -0.023565222882888103

### 2.4 Coorelation for annual_income and interaction_count

In [15]:
corr_annual_income_interaction_count = df['annual_income'].corr(df['interaction_count'])
print(f"Correlation between annual_income and interaction_count: {corr_annual_income_interaction_count}")

Correlation between annual_income and interaction_count: 0.027036472404814337

In [16]:
# Get the biggest correlation
print(f"Biggest correlation: {max(corr_interaction_count_lead_score, corr_number_of_courses_viewed_lead_score, corr_number_of_courses_viewed_interaction_count, corr_annual_income_interaction_count)}")

Biggest correlation: 0.027036472404814337

In [17]:
# Answer is annual_income and interaction_count

## Question 3

Which of these variables has the biggest mutual information score?

In [25]:
from sklearn.model_selection import train_test_split
full_train_df , test_df = train_test_split(df, test_size=0.2, random_state=42)
train_df, val_df = train_test_split(full_train_df, test_size=0.25, random_state=42)
len(train_df) , len(val_df), len(test_df)

(876, 293, 293)

In [32]:
# Perpare data for modeling
target = "converted"

features = numerical_features + categorical_features
features.remove(target)

# Training set 
X_train = train_df[features].reset_index(drop=True)
y_train = train_df[target].reset_index(drop=True)

# Validation set
X_val = val_df[features].reset_index(drop=True)
y_val = val_df[target].reset_index(drop=True)

# Test set
X_test = test_df[features].reset_index(drop=True)
y_test = test_df[target].reset_index(drop=True)

In [33]:
from sklearn.metrics import mutual_info_score

def matual_info_sorce_converted(series):
    return mutual_info_score(series, y_train)

In [34]:
mi = X_train[categorical_features].apply(matual_info_sorce_converted)
mi.sort_values(ascending=False)

round(mi, 3)

lead_source          0.035
industry             0.012
employment_status    0.013
location             0.004
dtype: float64

In [35]:
print(
    f"The biggest mutual information score is {mi.max():.3f} for the feature {mi.idxmax()}"
)

The biggest mutual information score is 0.035 for the feature lead_source

## Queastion 4

What accuracy did you get?

In [36]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
# One-hot encoding
dv = DictVectorizer(sparse=False)

X_train = dv.fit_transform(X_train.to_dict(orient="records"))
X_val = dv.transform(X_val.to_dict(orient="records"))
X_test = dv.transform(X_test.to_dict(orient="records"))

X_train.shape, X_val.shape, X_test.shape 


# Logistic Regression
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1_000, random_state=42)
model.fit(X_train, y_train)


y_pred = model.predict_proba(X_val)[:, 1]
converted_decision = y_pred >= 0.5

original_accuracy = (converted_decision == y_val).mean()
print(f"Original Model Accuracy (with all features): {original_accuracy:.4f}\n")

Original Model Accuracy (with all features): 0.6997

## Question 5 

Which of following feature has the smallest difference?

In [20]:
baseline_acc = accuracy_score(y_val, clf.predict(X_val))
print("Baseline accuracy:", baseline_acc)

Baseline accuracy: 0.8561643835616438

In [37]:
# Store the results in a dictionary
accuracy_differences = {}

for feature in features:
    # Logistic Regression Model
    iter_model = LogisticRegression(
        solver="liblinear", C=1.0, max_iter=1_000, random_state=42
    )

    # Features to keep
    features_to_keep = [f for f in features if f != feature]

    # Training and Validation Set
    X_train_iter = train_df[features_to_keep].reset_index(drop=True)
    X_val_iter = val_df[features_to_keep].reset_index(drop=True)

    dv_iter = DictVectorizer(sparse=False)

    # One-hot encoding
    X_train_iter = dv_iter.fit_transform(X_train_iter.to_dict(orient="records"))
    X_val_iter = dv_iter.transform(X_val_iter.to_dict(orient="records"))

    # Training model on subset of features
    iter_model.fit(X_train_iter, y_train)

    y_pred_iter = iter_model.predict_proba(X_val_iter)[:, 1]
    decision_iter = y_pred_iter >= 0.5
    iter_accuracy = (decision_iter == y_val).mean()

    # Calculate and store the difference
    diff = np.abs(original_accuracy - iter_accuracy)
    accuracy_differences[feature] = diff

    print(
        f"Model without {feature:<24}| Accuracy = {iter_accuracy:.4f}| Absolute Difference = {diff:.4f}"
    )

Model without number_of_courses_viewed| Accuracy = 0.5563| Absolute Difference = 0.1433
Model without annual_income           | Accuracy = 0.8532| Absolute Difference = 0.1536
Model without interaction_count       | Accuracy = 0.5563| Absolute Difference = 0.1433
Model without lead_score              | Accuracy = 0.7065| Absolute Difference = 0.0068
Model without lead_source             | Accuracy = 0.7031| Absolute Difference = 0.0034
Model without industry                | Accuracy = 0.6997| Absolute Difference = 0.0000
Model without employment_status       | Accuracy = 0.6962| Absolute Difference = 0.0034
Model without location                | Accuracy = 0.7099| Absolute Difference = 0.0102

In [38]:
# Least useful feature
least_useful_feat = min(accuracy_differences, key=accuracy_differences.get)
print(f"The least useful feature is: '{least_useful_feat}'")

The least useful feature is: 'industry'

## Question 6

Which of these C leads to the best accuracy on the validation set?

In [39]:
# Regularization values
reg_values = [0.01, 0.1, 1, 10, 100]

accuracy_reg_values = {}

for C in reg_values:
    # Logistic Regression
    model_reg = LogisticRegression(
        solver="liblinear", C=C, max_iter=1_000, random_state=42
    )
    # Train the model
    model_reg.fit(X_train, y_train)

    # Calculate predictions
    y_pred_reg = model_reg.predict_proba(X_val)[:, 1]
    decision_reg = y_pred_reg >= 0.5
    reg_accuracy = (decision_reg == y_val).mean()

    # Fill the accuracy_reg_values dictionary
    accuracy_reg_values[C] = reg_accuracy

    print(f"Regularization parameter: {C:>4}| Accuracy = {reg_accuracy:.3f}")

Regularization parameter: 0.01| Accuracy = 0.700
Regularization parameter:  0.1| Accuracy = 0.700
Regularization parameter:    1| Accuracy = 0.700
Regularization parameter:   10| Accuracy = 0.700
Regularization parameter:  100| Accuracy = 0.700

In [40]:
# Best regularization parameter
best_reg = max(accuracy_reg_values, key=accuracy_reg_values.get)
print(f"The Best Regularization parameter is: '{best_reg}'")

The Best Regularization parameter is: '0.01'